@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --titleBarBackground: #1c1c1c;
    --titleButtonsIsHover: #2c2c2c;
    --titleBarForeground: #ededed;

    --codeEditorBg: #1E212B;
    --codeEditorFg: #d4d4d4;

    --codeEditorNumBg: #292929;
    --codeEditorNumFg: #9fb0c8;

    --tabMenuBg: #171920;
    --tabMenuFg: #ededed;
    --tabMenuSelectBg: #1E212B;
    --tabMenuSelectFg: #f1f1f1;
    --tabMenuBorder: #a90093;
}

.cm-keyword { color: #ea5f5f !important; font-weight: bold !important; }
.cm-string { color: #eaa25f !important; }
.cm-comment { color: #808080 !important; font-style: italic !important; }
.cm-number { color: #658bc4 !important; }
.cm-def { color: #02afff !important; font-style: italic !important;}
.cm-builtin { color: #02afff !important; } 

* {
    box-sizing: border-box;
}

body {
    background: #121212;
    color: var(--titleBarForeground);
    padding: 0;
    margin: 0;
}

nav {
    border: 1px solid #2c2c2c;
    height: 35px;
    display: flex;
    align-items: center;
    background: var(--titleBarBackground);
}

#title {
    user-select: none;
    margin-left: 10px;
    -webkit-app-region: drag;
    font-family: Inter;
    font-weight: 600;
}

#titleBarModeChange {
    transition: .2s ease;
    background: var(--titleBarBackground);
    color: var(--titleBarForeground);
    font-size: 17px;
    margin: 0;
    aspect-ratio: 1;
    border: none;
    height: 100%;
}

#titleBarModeChange:hover {
    transition: .2s ease;
    background: var(--titleButtonsIsHover);
    cursor: pointer;
}

:not(nav) {
    -webkit-app-region: no-drag;
}

.nav-btns {
    margin-left: auto;
    height: 100%;
    display: flex;
}

.nav-btns > button {
    transition: background .2s ease;
    background: var(--titleBarBackground);
    border: none;
    height: 100%;
    margin: 0;
    aspect-ratio: 1;
    color: var(--titleBarForeground);
    font-size: 17px;
}

.nav-btns > button:hover {
    transition: .2s ease;
    background: var(--titleButtonsIsHover);
    cursor: pointer;
}

.nav-btns > button:active {
    background: #4c4c4c;
}

#fsMode {
    height: 100%;
    display: flex;
}

.menuBtn {
    transition: background .2s ease;
    background: var(--titleBarBackground);
    border: none;
    height: 100%;
    margin: 0;
    aspect-ratio: 1;
    color: var(--titleBarForeground);
    font-size: 14px;
    width: 100%;
}

.menuBtn:hover {
    transition: .2s ease;
    background: var(--titleButtonsIsHover);
    cursor: pointer;
}

.menuBtn:active {
    background: #4c4c4c;
}

.ceditor {
    width: 100%;
    height: calc(100vh - 35px - 30px);
    border: none;
}

textarea.editor {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
    background: transparent;
    color: inherit;
    font: inherit;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background: var(--titleBarBackground);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}

hr {
    border: none;
    border-top: 1px solid #2c2c2c;
}

.dropdown-item {
    transition: .2s ease;
    user-select: none;
    background: var(--titleBarBackground);
    color: var(--titleBarForeground);
    padding: 8px 10px;  
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%; 
    font-size: 13px;
}

.shortcut {
    color: #888; /* Цвет текста подсказки */
    font-size: 0.9em; /* Уменьшаем размер шрифта подсказки */
    text-align: right;
}


.dropdown-content button:hover {
    margin: 0;
    border-radius: 5px;
    transition: .2s ease;
    background-color: #2e2e2e;
}

.dropdown-content hr {
    margin-top: 1px;
    margin-bottom: 1px;
}

.tabMenu {
    height: 30px;
    background-color: var(--tabMenuBg);
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.tabMenu > button {
    transition: all .2s ease;
    background-color: var(--tabMenuBg);
    color: var(--tabMenuFg);
    height: 100%;
    min-width: 75px;
    max-width: 150px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabMenu > button:hover {
    background-color: #262630;
}

.tab-button {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Выравнивание по центру по вертикали */
    border: none; /* Убираем рамку */
    background: none; /* Убираем фоновый цвет */
    cursor: pointer; /* Указываем, что это кнопка */
}

.tab-button img {
    margin-right: 5px; /* Отступ между изображением и текстом */
}

.tabMenu > button[style*="border-bottom: 2px solid var(--tabMenuBorder);"] {
    background-color: var(--tabMenuSelectBg);
    color: var(--tabMenuSelectFg);
}

.tab-close-btn {
    background: transparent;
    border: none;
    color: #cacaca;
    cursor: pointer;
}

.tab-close-btn:hover {
    color: #ffffff;
}